@import "../global/header.css";
@import "../global/global.css";
@import "../global/footer.css";

.album {
    display: grid;
    grid-template-areas: 
    "a a b"
    "a a b"
    "c c b"
    "c c b"
    "f d d"
    "f d d"
    "f e e"
    "f e e";
    width: 400px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 80px 500px;
}

.album img {
    height: 100%;
    object-fit: cover;
    border-radius: var(--standard-border-radius);
}

.album #img01 {
    grid-area: a;
    height: 300px;
    width: fit-content;
}

.album #img02 {
    grid-area: b;
    height: 620px;
    width: fit-content;
}

.album #img03 {
    grid-area: c;
    height: 300px;
    width: fit-content;
}

.album #img04 {
    grid-area: d;
    height: 300px;
    width: fit-content;
}

.album #img05 {
    grid-area: e;
    height: 300px;
    width: fit-content;
}

.album #img06 {
    grid-area: f;
    height: 620px;
    width: fit-content;
}

.album #img07 {
    grid-area: g;
    height: 300px;
    width: fit-content;
}

.album #img08 {
    grid-area: h;
    height: 300px;
    width: fit-content;
}

.album #img09 {
    grid-area: i;
    height: 600px;
    width: fit-content;
}

.album #img10 {
    grid-area: j;
    height: 300px;
    width: fit-content;
}

.project {
    position: relative;
}

.project .overlay {
    background-color: var(--primary-opacity);
    color: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    letter-spacing: -1px;
    opacity: 0;
    transition: all 0.2s ease;
}

.project .overlay:hover {
    cursor: zoom-in;
    opacity: 1;
}