@import "../variables/variables.css";

.carrosel-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200%;
}

.carrossel-left img {
    display: none;
    width: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.carrossel-mid img {
    display: none;
    width: 100%;
    object-fit: cover;
}

.carrossel-right img {
    display: none;
    width: 100%;
    object-fit: cover;
    opacity: 0.65;
}

.carrossel-left .active {
    display: block;
}

.carrossel-mid .active {
    display: block;
}

.carrossel-right .active {
    display: block;
}

.carrossel .active {
    display: block;
}

.products {
    color: var(--dark-color);
    background-color: var(--light-color);
    width: 100vw;
    max-width: var(--standard-width);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    padding: 100px 0;
}

.products .product_card {
    background-color: var(--primary-color);
    padding: 22px;   
    border-radius: var(--standard-border-radius);
    height: 300px;
    justify-content: center;
}

.products .product_card #product_image {
    width: 100%;
    grid-area: "img";
}

.products .product_card .product_image {
    width: 200px;
    height: 200px;
    background-image: url("../../img/products/perfume-1-front.webp");
    background-size: cover;
    border-radius: var(--standard-border-radius);
    transition: background-image .2s ease-in-out; 
}

.products .product_card .product_image:hover {
    cursor: pointer;
    background-image: url("../../img/products/perfume-1-selected.webp");
}

.products .product_card #title {
    padding-left: 10px;
    color: var(--dark-color);
    width: 100px;
}

.products .product_card #price_sale {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;
}

.products .product_card #price {
    width: 160px;
    height: 40px;
    align-content: center;
    background-color: var(--secondary-opacity);
    border-radius: var(--standard-border-radius) 0% 0% var(--standard-border-radius);
    padding-left: 10px;
}

.products .product_card #button {
    background-color: var(--secondary-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0% var(--standard-border-radius) var(--standard-border-radius) 0%;
}

.products .product_card img {
    width: 20px;
    height: 20px;
}

.products .product_card #button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .carrosel-group {
        display: grid;
        grid-template-columns: 0% 80% 0%;
        justify-content: center;
        width: 200%;
    }

    .carrossel-left .active {
        display: none;
    }

    .carrossel-right .active {
        display: none;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 400px;
    }

    .products .product_card {
        width: 140px;
        height: 240px;
    }

    .products .card_two {
        width: 140px;
        height: 240px;
    }

    .products .card_three {
        width: 140px;
        height: 240px;
    }

    .products .card_four {
        width: 140px;
        height: 240px;
    }

    .products .card_five {
        width: 140px;
        height: 240px;
    }

    .products .card_six {
        width: 140px;
        height: 240px;
    }

    .products .card_seven {
        width: 140px;
        height: 240px;
    }

    .products .card_eight {
        width: 140px;
        height: 240px;
    }

    .products .product_card .img {
        width: 110px;
        height: 110px;
    }

    .products .card_two .img {
        width: 110px;
        height: 110px;
    }

    .products .card_three .img {
        width: 110px;
        height: 110px;
    }

    .products .card_four .img {
        width: 110px;
        height: 110px;
    }

    .products .card_five .img {
        width: 110px;
        height: 110px;
    }

    .products .card_six .img {
        width: 110px;
        height: 110px;
    }

    .products .card_seven .img {
        width: 110px;
        height: 110px;
    }

    .products .card_eight .img {
        width: 110px;
        height: 110px;
    }
}